* {
  color: #BEDBED;
}

h2, h3 {
  font-family: 'Exo 2', Verdana, sans-serif;
}

li, p {
  font-family: 'Montserrat', Helvetica, sans-serif;
}

code {
  font-family: 'Fira Code', Courier, monospace;
}

code, a {
  color: #EBDEBD;
}

body {
  background-color: #444444;
}

h2 {
  margin-left: 1%;
}

h3 { margin-left: 1%; }

ul, ol { margin-left: 2%; }

p { margin-left: 3%; }

.footer {
  display: flex;
  justify-content: space-around;
}
